@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(23, 23, 23, 255);
}

.chatbot {
  background-color: rgba(33, 33, 33, 255);
  color: whitesmoke;
}

header {
  background-color: rgba(104, 104, 104, 255);
  color: black;
}

.input_box,
input {
  background-color: rgba(47, 47, 47, 255);
  outline: none;
}

.response {
  background-color: rgba(47, 47, 47, 255);
  width: 75%;
}

button {
  background-color: rgba(103, 103, 103, 255);
  color: whitesmoke;
}

button:hover {
  background-color: rgba(215, 215, 215, 255);
  color: black;
}
